* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-tweet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-content-tweet {
    width: 591px;
    height: 161px;
    border: 1px solid #dadddf;
    display: flex;
    padding: 17px 17px 0px 19px;
    
    
    
}
.image-logo {
    width: 48px;
    height: 48px;
}
.content-tweet {
    display: flex;
    flex-direction:column; 
    margin-left: 12px;
    
}
.header-tweet {
    display: flex;
}
.checked-icon {
    width: 15px;
    height: 15px;
    margin-left: 3px;
}
.header-tweet-date {
    font-size: 15px;
    font-weight: 400;
    color: #536471;
    
}
.text-content {
    font-size: 15px;
    font-weight: 400;
    color: #0F1419;
    margin-top: 5px;
    

}
.text-content-and {
    font-size: 15px;
    font-weight: 400;
    color: #0F1419;
    margin-top: 15px;
    
}
.footer-tweet {
    display: flex;
    margin-top: 15px;
    justify-content:space-between ;
    
    
}

.footer-number-comments {
    margin-left: 17px;
    font-size: 13px;
    font-weight: 400;
    color: #536471;
}

.footer-number {
    margin-left: 18px;
    font-size: 13px;
    font-weight: 400;
    color: #536471;

}

.image-favorite {
    width: 15px;
    height: 15px;
}

.number-favorite {
    margin-left: 21px;
    font-size: 13px;
    font-weight: 400;
    color: #536471;
    

}
.image-comments {
    height:13px;
    width: 13px;
}
















.content-footer {
    margin-top: 15px;
    display: flex;
    gap: 73px;
}






